html{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    
    display: grid;
    height: 100%;
    width: 100%;
    margin: 0;
    grid-template-rows: 10% 2fr 10%;
    grid-template-areas: "header" "main" "footer";

}
header{
    width: 100%;
    background-color: orange;
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 3fr 1fr ;
    grid-template-areas: "brand . busca";

}
#brand{
    grid-area: brand;
    align-self: center;
    font-size: 32px;
    margin: 5%;
}

#busca{
    align-self: center;
    grid-area: busca;
    height: 50%;
    width: fit-content;
    font-size: 24px;
}

main{
    height: max-content;
    width: 100%;
    grid-area: main;
   
    
}
.container-video{
    display: grid;
    height: max-content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;


}

a{
    display: flex;
    flex-direction: column;
    border: solid 2px;
    text-decoration: none;
    color: black;

}
a, p{
    margin: 2%;
}
video{
    height: 200px;
    border: solid 2px;
}
footer{
    grid-area: footer;
    background-color: darkgreen;
    margin-bottom: 0;
}
h2{
    margin-left: 5%;
}
@media only screen and (max-width: 1280px) {
    
    .container-video{
        display: grid;
        height: max-content;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    
    
    }
    #busca{
        width: 70%;
    }
  }
  @media only screen and (max-width: 414px) {
    
    .container-video{
        display: grid;
        height: max-content;
        grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    }
    #brand{
        font-size: 16px;
    }
    #busca{
        height: 30%;
        width: 70%;
        font-size: 16px;
    }
    body{
    
        display: grid;
        height: 100%;
        width: 100%;
        margin: 0;
        grid-template-rows: 5% 1fr 5%;
        grid-template-areas: "header" "main" "footer";
    
    }
    header{
        width: 100%;
        background-color: orange;
        display: grid;
        grid-area: header;
        grid-template-columns: 1fr 1fr ;
        grid-template-areas: "brand  busca";
    
    }
    h2{
        margin: 0;
    }
    
  }